body {
  background: #323232;
  font-family: "Source Sans Pro", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 100;
  font-style: normal;
  color: #7f8c8d;
  text-rendering: optimizeLegibility;
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 2; }

.columns.collapse {
  padding: 0; }

.codeToggle_All {
  background-image: url(../assets/code_green.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 1.4rem;
  border-bottom: 1px solid #020202; }

#content-body {
  background: white;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem; }

.max.row {
  width: 100%;
  max-width: 100%; }

#sidebar .side-nav {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-position: inside;
  font-family: inherit; }
  #sidebar .side-nav li.active {
    background-color: #3f3f3f; }
    #sidebar .side-nav li.active > a:first-child:not(.button) {
      color: #ecf0f1;
      font-family: inherit; }
  #sidebar .side-nav .nav-element {
    margin: 0;
    font-size: inherit;
    font-weight: 500;
    border-bottom: 1px solid #020202; }
    #sidebar .side-nav .nav-element a {
      color: #95a5a6;
      padding: 1rem; }
    #sidebar .side-nav .nav-element.sub {
      border-bottom: 0;
      list-style-type: none;
      color: #ecf0f1;
      padding: .75rem 0; }

section.codeblock {
  margin: 2rem 0; }

.unitToggle {
  background-color: #ecf0f1;
  background-image: url(../assets/code_gray.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  padding: .7rem;
  height: 24px;
  width: 24px; }

.source-panel {
  margin-bottom: 2rem; }

code {
  font-family: Consolas,'Liberation Mono',Courier,monospace;
  font-weight: normal;
  font-size: .65rem; }

.snippet {
  margin-bottom: 1.0625rem; }
  .snippet .button {
    margin-bottom: 0; }

hr {
  margin: 0; }

.sub-nav dt.active a,
.sub-nav dd.active a,
.sub-nav li.active a {
  border-radius: 0; }

.breadcrumbs {
  border-radius: 0; }
