<section>
	<div class="item-heading-group" data-toggle="details">
		<span class="item-heading">Button Colors</span>
		<div class="item-toggles">
			<span class="f-toggle f-icon-code" data-toggle-control="code" title="toggle code"></span>
		</div>
	</div>
</section>


<div class="f-container">
	<div class="f-main">

		<div class="f-menu-bar">
			<span class="f-menu-toggle f-icon-menu"></span>
		</div>

		<h1 data-toggle="details">Buttons</h1>



			<div class="f-item-group" id="button-colors">

				<div class="f-item-heading-group" data-toggle="details">
					<span class="f-item-heading">Button Colors</span>
					<div class="f-item-toggles">
						<span class="f-toggle f-icon-code" data-toggle-control="code" title="toggle code"></span>
					</div>
				</div>

				<div class="f-item-notes">

				</div>

				<div class="f-item-preview">
					<!-- Color Classes -->
<div class="item-subheading-group">
	<span class="item-subheading xcode">Color Classes</span>
</div>
<button class="button">Default</button>
<button class="button secondary">Secondary</button>
<button class="button success">Success</button>
<button class="button alert">Alert</button>
				</div>


			</div>



			<div class="f-item-group" id="button-sizes">

				<div class="f-item-heading-group" data-toggle="details">
					<span class="f-item-heading">Button Sizes</span>
					<div class="f-item-toggles">
						<span class="f-toggle f-icon-code" data-toggle-control="code" title="toggle code"></span>
					</div>
				</div>

				<div class="f-item-notes">

				</div>

				<div class="f-item-preview">
					<!-- Size Classes -->
<div class="item-subheading-group">
	<span class="item-subheading">Size Classes</span>
</div>
<button class="button tiny">Tiny Button</button>
<button class="button small">Small Button</button>
<button class="button">Default Button</button>
<button class="button large">Large Button</button>
				</div>

				<div class="f-item-code" data-toggle="code">
					<pre><code class="language-markup">&lt;!-- Size Classes --&gt;
&lt;div class=&quot;item-subheading-group&quot;&gt;
	&lt;span class=&quot;item-subheading&quot;&gt;Size Classes&lt;/span&gt;
&lt;/div&gt;
&lt;button class=&quot;button tiny&quot;&gt;Tiny Button&lt;/button&gt;
&lt;button class=&quot;button small&quot;&gt;Small Button&lt;/button&gt;
&lt;button class=&quot;button&quot;&gt;Default Button&lt;/button&gt;
&lt;button class=&quot;button large&quot;&gt;Large Button&lt;/button&gt;</code></pre>
				</div>

			</div>



			<div class="f-item-group" id="disabled-button">

				<div class="f-item-heading-group" data-toggle="details">
					<span class="f-item-heading">Disabled Button</span>
					<div class="f-item-toggles">
						<span class="f-toggle f-icon-code" data-toggle-control="code" title="toggle code"></span>
					</div>
				</div>

				<div class="f-item-notes">

				</div>

				<div class="f-item-preview">
					<!-- Disabled Class -->
<div class="item-subheading-group">
	<span class="item-subheading">Disabled Class</span>
</div>
<button class="button disabled">Disabled Button</button>
				</div>

				<div class="f-item-code" data-toggle="code">
					<pre><code class="language-markup">&lt;!-- Disabled Class --&gt;
&lt;div class=&quot;item-subheading-group&quot;&gt;
	&lt;span class=&quot;item-subheading&quot;&gt;Disabled Class&lt;/span&gt;
&lt;/div&gt;
&lt;button class=&quot;button disabled&quot;&gt;Disabled Button&lt;/button&gt;</code></pre>
				</div>

			</div>



	</div>
</div>
